<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/QYB.app</string>
		<key>CFBundleIdentifier</key>
		<string>one.chainclub.copay</string>
		<key>CFBundleShortVersionString</key>
		<string>3.11.1</string>
		<key>CFBundleVersion</key>
		<string>3.11.1</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Hua Jiang (XDGVHND7FN)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2018-01-15T04:02:08Z</date>
	<key>Name</key>
	<string>QYB</string>
	<key>SchemeName</key>
	<string>QYB</string>
</dict>
</plist>
