<div id="terms" class="enable_text_select">
    <p>

    </p>
    <p class="terms__heading">
        特别提示
    </p>
    <p>
        区块链研习社 在此特别提醒您（用户）在使用本产品（以下称为“粽子”）之前，请认真阅读《服务协议&隐私条款》（以下简称协议），确保您充分理解本协议中的各条款，包括免除区块链研习社在线责任的条款制用户权利的条款。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您使用本协议所涉服务，其使用行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
    </p>
    <p>
        本协议约定区块链研习社与用户之间关于“粽子”软件服务（以下简称“服务”）的权利义务。“用户”是指使用本服务的个人。本协议可由区块链研习社在线随时更新， 更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知。在区块链研习社修改协议条款后，如果用户不接受修改后的条款，请立即停止使用区块链研习社提供的服务，用户继续使用区块链研习社服务将被视为接受修改后的协议。
    </p>
    <p class="terms__heading">
        使用规则
    </p>
    <p>
        用户需从官方渠道下载安装区块链研习社提供的“粽子”软件（App）；
    </p>
    <p>
        用户可以使用粽子的转账、收款功能进行数字货币交易；
    </p>
    <p>用户应谨慎使用删除钱包、备份助记词的功能，一旦删除，无法还原。</p>
    <p class="terms__heading">
        用户账户安全
    </p>
    <p>
        用户的钱包密码由用户自己来负责，用户不应将自己的密码告诉其他第三者；
    </p>
    <p>用户应妥善保管好自己的钱包秘钥及助记词，一旦泄露或遗失，导致钱包不能使用或资产遗失，区块链研习社概不负责；</p>
    <p>因设备维修或更换、故障和通信中断等技术原因而中断业务，区块链研习社可视情况事前或事后通知用户； </p>
    <p>如果因区块链研习社临时中断业务而导致用户钱包丢失，区块链研习社会给予丢失数据的用户相应的补偿，具体补偿方式由区块链研习社决定。但因不可抗力导致的业务中断发生时，区块链研习社不给予用户补偿；</p>
    <p>区块链研习社临时中断业务时，将会以消息推送方式告知用户；</p>
    <p></p>
    <p>当粽子用户发生如下情况时，区块链研习社可单方面终止本协议，取消用户继续使用粽子产品的资格：</p>
    <p>用户死亡；</p>
    <p>盗用他人的钱包信息或手机；</p>
    <p>填写公测问卷时提供虚假信息；</p>
    <p>以非法手段(包括且不限于黑客攻击等)来谋取不正当利益；</p>
    <p>妨碍其他用户正常使用；</p>
    <p>伪称区块链研习社的工作人员或管理人员；</p>
    <p>擅自强行更改区块链研习社的计算机系统, 或威胁侵入系统；</p>
    <p>利用区块链研习社的产品及服务宣传垃圾广告；</p>
    <p>其他违反本协议的行为以及违法行为；</p>
    <p>用户如因上述问题而被取消使用资格, 可向区块链研习社提出书面申请。</p>
    <p class="terms__heading">
        用户个人隐私信息保护
    </p>
    <p>区块链研习社在未经用户同意, 不向任何第三方公开、透露用户的个人隐私信息。但以下特定情形除外：</p>
    <p>区块链研习社根据法律法规规定或有权机关的指示提供用户的个人账户信息；</p>
    <p>由于用户将其钱包密码或助记词等信息告知他人，由此导致的任何个人账户信息的泄漏，或其他非因区块链研习社原因导致的个人账户信息的泄露；</p>
    <p>用户自行向第三方公开其个人隐私信息；</p>
    <p>任何由于黑客攻击、电脑病毒侵入及其他非因区块链研习社原因导致用户个人隐私信息的泄露。</p>
    <p>用户同意区块链研习社可在以下事项中使用用户的个人隐私信息：</p>
    <p>向用户及时发送重要通知，如软件更新、本协议条款的变更；</p>
    <p>区块链研习社内部进行审计、数据分析和研究等，以改进区块链研习社的产品、服务和与用户之间的沟通；</p>
    <p>依本协议约定，区块链研习社管理、审查用户信息及进行处理措施；</p>
    <p>适用法律法规规定的其他事项。</p>
    <p class="terms__heading">
        用户使用规范
    </p>
    <p>
        粽子用户不得利用区块链研习社产品提供的服务进行如下行为：
    </p>
    <p>侵害区块链研习社以及第三者的知识产权；</p>
    <p>提交、发布虚假信息，或盗用他人资料，冒充、利用他人名义；</p>
    <p> 其他不遵守本协议的行为；</p>
    <p>其他违法以及不正当的行为。</p>
    <p class="terms__heading">
        免责条款
    </p>
    <p>
        区块链研习社提供的服务中包括数字货币的当前价格信息, 用户若通过区块链研习社提供的显示货币信息服务进行交易等操作行为造成的资产亏损,区块链研习社不承担任何责任。
    </p>
    <p>
        用户若因个人原因遗忘助记词, 删除遗失钱包, 导致资产丢失, 区块链研习社不承担任何责任。
    </p>
    <p class="terms__heading">知识产权保护</p>
    <p>区块链研习社的商标、钱包业务以及所提供的有关广告内容的知识产权都归属于区块链研习社。 用户从区块链研习社获得的信息内容不经区块链研习社的许可不能擅自复制、发布与出版。</p>
    <p class="terms__heading">其他</p>
    <p>区块链研习社郑重提示用户注意本协议中免除区块链研习社和限制用户权利的条款，请用户仔细阅读，自主考虑风险。</p>
    <p>未成年人应在法定监护人的陪同下阅读本协议。</p>
    <p>本协议的效力、解释及纠纷的解决,适用于中华人民共和国法律。若用户和区块链研习社之间发生任何纠纷或争议， 首先应友好协商解决，协商不成的，用户同意将纠纷或争议提交区块链研习社住所地有管辖权的人民法院管辖。</p>
    <p>本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力。</p>
    <p>本协议的版权由区块链研习社所有，区块链研习社保留一切解释和修改的权力。</p>
    <p>本协议从2018年1月20日起适用。</p>
</div>
